torch
torchvision 
opencv-python 
nltk 
trdg
attrs
backcall 
boto3 
botocore 
certifi 
cffi 
chardet 
colorama 
cycler 
decorator 
docopt 
docutils 
gitdb 
GitPython 
GPUtil 
idna 
ipykernel 
ipython 
ipython-genutils 
jedi 
jmespath 
joblib 
jsonpickle 
jupyter-client 
jupyter-core 
kiwisolver 
llvmlite 
matplotlib 
munch 
numba 
numpy 
packaging 
pandas
parso 
pexpect 
pickleshare 
Pillow 
prompt-toolkit 
ptyprocess 
py-cpuinfo 
pycparser 
Pygments 
pyparsing 
python-dateutil 
pytz 
pyzmq 
requests 
s3transfer 
sacred 
scikit-learn 
scikit-optimize 
scipy 
seaborn 
six 
scikit-learn 
smmap 
tadasets 
torch 
torchvision 
tornado 
tqdm 
traitlets 
umap-learn 
urllib3 
wcwidth 
wrapt  
sacred
aleph